-e git+https://github.com/aclark4life/django-mongodb@INTPYTHON-348#egg=django-mongodb
-e git+https://github.com/aclark4life/django@mongodb-5.0.x#egg=django
# -e git+https://github.com/aclark4life/mongo-python-driver#egg=pymongo
-e git+https://github.com/aclark4life/mongo-python-driver@PYTHON-4575#egg=pymongo
-e git+https://github.com/aclark4life/polls#egg=polls
dj-database-url
django-debug-toolbar
django-extensions
factory-boy
pytest
python-webpack-boilerplate
