-e git+https://github.com/aclark4life/django-mongodb@INTPYTHON-348#egg=django-mongodb
-e git+https://github.com/aclark4life/django@mongodb-5.0.x#egg=django
-e git+https://github.com/aclark4life/mongo-python-driver#egg=pymongo
django-debug-toolbar
factory-boy
python-webpack-boilerplate
